@charset "UTF-8";
:root {
  --color: #00243b;
  --color-white: #fff;
  --color-gray: #ccc;
  --color-black: #000;
  --color-text: #00baec;
  --color-hover: #00BAEC;
  --transition-duration: 0.3s;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /*чтобы padding работали правильно*/
  height: 100%;
}

*,
body {
  font-family: "Rubik";
  font-size: 14px; /*шрифт по умолчанию*/
  font-weight: 400;
  margin: 0; /*обнуление всех margin по умолчанию, если его размер не указан*/
  color: var(--color);
}

img {
  max-width: 100%; /*чтобы картинка не выходила за пределы экрана*/
}

a {
  text-decoration: none; /*чтобы не было нижнего подчеркивания по умолчанию*/
}

/*--------------Контейнер--------------*/
.container {
  width: 100%;
  max-width: 1310px;
  margin: 0 auto;
  padding: 0px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*--------------Кнопка--------------*/
.default-btn {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  color: var(--color-black);
  padding: 11px 28px;
  border-radius: 4px;
  border: 1px solid #00baec; /*толщина рамки*/
  -webkit-transition: outline-color var(--transition-duration), background-color var(--transition-duration);
  transition: outline-color var(--transition-duration), background-color var(--transition-duration);
  cursor: pointer; /*курсор в виде руки*/
}

.default-btn:hover {
  background-color: var(--color-text);
}

/*--------------!--------------*/
.menu-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu-top__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  height: 70px;
}
.menu-top__item {
  margin-left: 31px;
}
.menu-top__item a {
  color: var(--color);
}
.menu-top__item a:hover {
  color: var(--color-hover);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu .menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 95px;
  margin-top: -23px;
}
.menu .menu-list__logo {
  margin: 2px 0 0 2px;
}
.menu .menu-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu .menu-item a {
  font-size: 16px;
  font-weight: 500;
}
.menu .menu-item__catalog {
  font-size: 16px;
  font-weight: 500;
  margin-right: 6px;
  position: relative;
  border: 1px solid transparent;
  border-radius: 3px;
  -webkit-transition: 0.7s linear transform 0.1s, 0.3s linear background 0s, 0.3s linear border 0s;
  transition: 0.7s linear transform 0.1s, 0.3s linear background 0s, 0.3s linear border 0s; /*linear-переход равномерный без колебаний в скорости*/
  padding: 9px 23px 11px 18px;
  white-space: nowrap;
}
.menu .menu-item__catalog img {
  margin-right: 5px;
}
.menu .menu-item__catalog:hover {
  border-color: var(--color-hover);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.menu .menu-item__number {
  font-size: 16px;
  font-weight: 500;
  margin-right: 31px;
  color: var(--color);
}
.menu .menu-item__number:hover {
  color: var(--color-hover);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.menu .menu-item__mail {
  font-size: 16px;
  font-weight: 500;
  margin-right: 36px;
  letter-spacing: -0.9px;
  color: var(--color);
}
.menu .menu-item__mail:hover {
  color: var(--color-hover);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.menu .search-form {
  margin-right: 37px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex; /*ширина зависит от содержания, а не растягивается на всю длину блока*/
  padding: 0 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 38px;
  border-radius: 5px;
  overflow: hidden;
  background-color: var(--color-white);
}
.menu .search-form__txt {
  border: none;
  width: 340px;
  outline: none;
  font-size: 14px;
  padding-right: 10px;
  background-color: transparent;
}
.menu .search-form__btn {
  border: none;
  background-color: transparent;
}
.menu .search-form__loupe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  cursor: pointer;
  margin-top: 2px;
}
.menu .menu-img__menu-line {
  margin-right: 30px;
}
.menu .menu-img__menu-basket {
  width: 19px;
}
.menu .menu-img__menu-basket img {
  width: 100%;
}

.menu-adaptive {
  display: none;
}

.menu-list-adaptive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 64px;
  margin: 14px 0;
}
.menu-list-adaptive__burger-1 {
  display: block;
  position: relative;
  margin: 0 15px 0 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.menu-list-adaptive__burger-1 img {
  top: 5px;
  width: 30px;
  position: absolute;
  -webkit-transition: 0.3s opacity linear 0s, 0.3s visibility linear 0s, 0.3s -webkit-transform linear 0s;
  transition: 0.3s opacity linear 0s, 0.3s visibility linear 0s, 0.3s -webkit-transform linear 0s;
  transition: 0.3s opacity linear 0s, 0.3s visibility linear 0s, 0.3s transform linear 0s;
  transition: 0.3s opacity linear 0s, 0.3s visibility linear 0s, 0.3s transform linear 0s, 0.3s -webkit-transform linear 0s;
}
.menu-list-adaptive__loupe-1 {
  display: block;
  position: relative;
  width: 50px;
  height: 50px;
  margin: 0;
}
.menu-list-adaptive__loupe-1 img {
  width: 30px;
  position: absolute;
  -webkit-transition: 0.3s opacity linear 0s, 0.3s visibility linear 0s, 0.3s -webkit-transform linear 0s;
  transition: 0.3s opacity linear 0s, 0.3s visibility linear 0s, 0.3s -webkit-transform linear 0s;
  transition: 0.3s opacity linear 0s, 0.3s visibility linear 0s, 0.3s transform linear 0s;
  transition: 0.3s opacity linear 0s, 0.3s visibility linear 0s, 0.3s transform linear 0s, 0.3s -webkit-transform linear 0s;
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}
.menu-list-adaptive__line-1 {
  display: block;
  position: relative;
  width: 50px;
  height: 50px;
  margin: 0;
}
.menu-list-adaptive__line-1 img {
  width: 30px;
  position: absolute;
  -webkit-transition: 0.3s opacity linear 0s, 0.3s visibility linear 0s, 0.3s -webkit-transform linear 0s;
  transition: 0.3s opacity linear 0s, 0.3s visibility linear 0s, 0.3s -webkit-transform linear 0s;
  transition: 0.3s opacity linear 0s, 0.3s visibility linear 0s, 0.3s transform linear 0s;
  transition: 0.3s opacity linear 0s, 0.3s visibility linear 0s, 0.3s transform linear 0s, 0.3s -webkit-transform linear 0s;
}
.menu-list-adaptive__basket-1 {
  display: block;
  position: relative;
  width: 50px;
  height: 50px;
  margin: 0 0 0 15px;
}
.menu-list-adaptive__basket-1 img {
  width: 30px;
  position: absolute;
  -webkit-transition: 0.3s opacity linear 0s, 0.3s visibility linear 0s, 0.3s -webkit-transform linear 0s;
  transition: 0.3s opacity linear 0s, 0.3s visibility linear 0s, 0.3s -webkit-transform linear 0s;
  transition: 0.3s opacity linear 0s, 0.3s visibility linear 0s, 0.3s transform linear 0s;
  transition: 0.3s opacity linear 0s, 0.3s visibility linear 0s, 0.3s transform linear 0s, 0.3s -webkit-transform linear 0s;
}

.menu-list-adaptive-logo {
  display: block;
  position: relative;
  margin: 0 auto;
  height: auto;
  width: 200px;
  z-index: 2;
}
.menu-list-adaptive-logo__1 {
  position: absolute;
  margin-top: -23px;
}
.menu-list-adaptive-logo__2 {
  position: absolute;
  margin-top: 18px;
}

.menu-bottom-adaptive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -15px;
}
.menu-bottom-adaptive__number {
  font-size: 19px;
  line-height: 19px;
}
.menu-bottom-adaptive__mail {
  font-size: 19px;
  line-height: 19px;
}

/*---------------------------------------------*/
@media (max-width: 1250px) {
  .container {
    padding: 0px 25px;
  }
  .menu-top {
    display: none;
  }
  .menu {
    display: none;
  }
  .menu-adaptive {
    display: inline;
  }
}
@media (max-width: 760px) {
  .container {
    padding: 0px 15px;
  }
}
@media (max-width: 650px) {
  .menu-bottom-adaptive__number {
    font-size: 15px;
    line-height: 17px;
  }
  .menu-bottom-adaptive__mail {
    font-size: 15px;
    line-height: 17px;
  }
}
@media (max-width: 550px) {
  .menu-list-adaptive {
    height: 50px;
  }
  .menu-list-adaptive__burger-1 {
    width: 30px;
    height: 30px;
  }
  .menu-list-adaptive__burger-1 img {
    position: absolute;
    top: 2px;
    width: 18px;
  }
  .menu-list-adaptive__loupe-1 {
    width: 30px;
    height: 30px;
  }
  .menu-list-adaptive__loupe-1 img {
    position: absolute;
    width: 18px;
  }
  .menu-list-adaptive__line-1 {
    width: 30px;
    height: 30px;
  }
  .menu-list-adaptive__line-1 img {
    position: absolute;
    width: 18px;
  }
  .menu-list-adaptive__basket-1 {
    width: 30px;
    height: 30px;
  }
  .menu-list-adaptive__basket-1 img {
    position: absolute;
    width: 18px;
  }
  .menu-list-adaptive-logo {
    width: 130px;
  }
  .menu-list-adaptive-logo__1 {
    position: absolute;
    margin-top: -15px;
  }
  .menu-list-adaptive-logo__2 {
    position: absolute;
    margin-top: 10px;
  }
  .menu-bottom-adaptive__number {
    font-size: 11px;
    line-height: 15px;
  }
  .menu-bottom-adaptive__mail {
    font-size: 11px;
    line-height: 15px;
  }
}
.navigator {
  margin-top: 45px;
}
.navigator__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigator-left__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
}
.navigator-left__item {
  margin-left: -3px;
}
.navigator-left__item:first-child {
  margin-left: 0;
}
.navigator-left__item a {
  font-size: 12px;
}
.navigator-left__item a_4 a {
  color: #bfbfbf;
}
.navigator-left__item a:hover {
  text-decoration: underline;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.navigator-left__item_3 a:hover {
  text-decoration: none;
}

.navigator-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.navigator-right svg {
  margin: 1px 15px 0px 0px;
}
.navigator-right svg path {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.navigator-right:hover {
  color: var(--color-hover);
}
.navigator-right:hover svg path {
  stroke: var(--color-hover);
}

/*-----------------------------------*/
@media (max-width: 550px) {
  .navigator-left a {
    font-size: 11px;
  }
  .navigator-right {
    font-size: 11px;
  }
  .navigator-right svg {
    width: 18px;
    height: 9px;
    margin: 3px 5px 0px 0px;
  }
}
.catalog__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.catalog-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 33px;
  width: calc(100% - 325px);
}
.catalog-text h1 {
  font-size: 40px;
  font-weight: 500;
}
.catalog-text__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 12px;
}

.btn {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.btn__setka_adaptive {
  position: absolute;
  right: 30px;
}
.btn__setka svg path {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  fill: var(--color-gray);
}
.btn__setka.active, .btn__setka:hover {
  color: var(--color-hover);
}
.btn__setka.active svg path, .btn__setka:hover svg path {
  fill: var(--color-hover);
}
.btn__burger {
  margin-left: 14px;
}
.btn__burger_adaptive {
  position: absolute;
  right: 0;
}
.btn__burger svg path {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  fill: var(--color-gray);
}
.btn__burger.active, .btn__burger:hover {
  color: var(--color-hover);
}
.btn__burger.active svg path, .btn__burger:hover svg path {
  fill: var(--color-hover);
}

.list__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.list__left {
  width: calc(100% - 325px);
  margin-top: 50px;
}
.list__left.grid {
  width: calc(100% - 325px);
  height: 305px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px 20px;
  margin-top: 35px;
}
.list__right {
  width: 305px;
  margin-left: 20px;
  margin-top: -35px;
}
.list__right-adaptive {
  display: none;
}

/*--------------Карточка товара------------------*/
.card {
  height: 170px;
  margin-bottom: 20px;
}

.card-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border: 1px solid #e8e8e8; /*толщина рамки*/
  border-radius: 4px;
  padding: 20px 20px 18px 20px;
}
.card-product__img {
  max-height: 130px;
  width: 174px;
  min-width: 174px;
  overflow: hidden;
  margin: auto 22px auto 0;
}
.card-product__img img {
  width: 100%;
}
.card-product:hover {
  border: 1px solid #00baec; /*толщина рамки*/
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.card-product__img-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-product-text {
  margin-top: 9px;
  margin-bottom: 8px;
  height: 100%;
  padding-top: 13px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.card-product-text__subtitle {
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  margin-top: 17px;
  color: #00243b;
  overflow: hidden;
  min-height: 38px;
}
.card-product-text__subtitle br {
  display: none;
}
.card-product-text__subtitle:hover {
  color: var(--color-hover);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.card-product-text__title {
  margin-top: 27px;
  font-size: 12px;
  line-height: 17.5px;
}

.card-product-guarantee-leasing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -13px 0 20px 0;
}
.card-product-guarantee-leasing__guarantee {
  font-size: 10px;
  font-weight: 500;
  color: var(--color-text);
  border-bottom: 1px #00baec solid;
}
.card-product-guarantee-leasing__leasing {
  font-size: 10px;
  font-weight: 500;
  color: var(--color-text);
  margin-left: 14px;
  border-bottom: 1px #00baec solid;
}

.card-product-right {
  margin-bottom: 10px;
  width: 300px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.card-product-right__doc {
  position: absolute;
  padding-left: 23px;
  top: 29px;
  right: 20px;
  font-weight: 500;
  font-size: 11px;
  line-height: 14px;
  color: #00243b;
}
.card-product-right__doc a {
  letter-spacing: 0.2px;
  font-size: 11px;
}
.card-product-right__doc a:hover {
  color: var(--color-hover);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.card-product-right__doc img {
  position: absolute;
  width: 16px;
  height: 17px;
  top: -2px;
  left: 0;
}
.card-product-right__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 15px;
  height: 14px;
  bottom: 32px;
  right: 194px;
  margin-left: 29px;
  margin-right: 8px;
  cursor: pointer;
}
.card-product-right__line svg path {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.card-product-right__line:hover {
  color: var(--color-hover);
}
.card-product-right__line:hover svg path {
  fill: var(--color-hover);
}
.card-product-right__btn-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
}

.default-btn__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 20px;
  right: 20px;
  margin-left: 22px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.default-btn__card:hover {
  color: var(--color-white);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/*--------------Карточка товара grid------------------*/
.grid .card {
  height: 370px;
  width: 305px;
  padding: 0;
  margin-bottom: 0;
}
.grid .card-product {
  height: 330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  border: 1px solid #e8e8e8; /*толщина рамки*/
  border-radius: 4px;
  padding: 19px;
}
.grid .card-product__img {
  min-height: 130px;
  width: 174px;
  min-width: 174px;
  overflow: hidden;
  margin: 30px 0px 0px 45px;
}
.grid .card-product__img img {
  width: 100%;
}
.grid .card-product:hover {
  border: 1px solid #00baec; /*толщина рамки*/
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.grid .card-product__img-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.grid .card-product-text {
  margin: 0;
  margin-top: 26px;
  height: 100%;
  padding: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.grid .card-product-text__subtitle {
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  margin: 0;
  color: #00243b;
  overflow: hidden;
  min-height: 38px;
}
.grid .card-product-text__subtitle br {
  display: inline;
}
.grid .card-product-text__subtitle:hover {
  color: var(--color-hover);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.grid .card-product-text__title {
  display: -webkit-box; /*прописываем чтобы показывалось только несколько строк, остальное скрывается и ставится многоточие*/
  line-clamp: 2; /*количество показываемых строк*/
  box-orient: vertical; /*строки по вертикали*/
  overflow: hidden; /*все лишнее, выходящее за пределы - обрезать*/
  margin-top: 14px;
  font-size: 12px;
  line-height: 18px;
}
.grid .card-product-guarantee-leasing {
  display: none;
}
.grid .card-product-right {
  margin: 0;
  width: 300px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.grid .card-product-right__doc {
  position: absolute;
  padding: 0;
  top: 20px;
  left: 20px;
  font-weight: 500;
  font-size: 11px;
  line-height: 14px;
  color: #00243b;
}
.grid .card-product-right__doc a {
  letter-spacing: 0.2px;
  font-size: 11px;
  position: absolute;
  left: 22px;
  top: 3px;
}
.grid .card-product-right__doc a:hover {
  color: var(--color-hover);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.grid .card-product-right__doc img {
  position: absolute;
  width: 16px;
  height: 17px;
  top: 0;
  left: 0;
}
.grid .card-product-right__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15px;
  height: 14px;
  top: 22px;
  right: 20px;
  margin: 0;
  cursor: pointer;
}
.grid .card-product-right__line svg path {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.grid .card-product-right__line:hover {
  color: var(--color-hover);
}
.grid .card-product-right__line:hover svg path {
  fill: var(--color-hover);
}
.grid .card-product-right__btn-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
}
.grid .default-btn__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 19px;
  right: 19px;
  left: -3px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.grid .default-btn__card:hover {
  color: var(--color-white);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/*-------------------------------------*/
.category__subtitle {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.9px;
}
.category__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 24px;
  line-height: 17.1px;
}
.category__title a {
  margin-bottom: 17px;
}
.category__text {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.category__text:hover {
  color: var(--color-hover);
}
.category__text:hover span {
  color: var(--color-hover);
}
.category__text span {
  margin-left: 6px;
  color: #bfbfbf;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.manufacturer .form-group {
  margin-bottom: 13px;
}
.manufacturer .form-group__title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.9px;
  margin-top: 37px;
  margin-bottom: 25px;
}
.manufacturer .real-checkbox {
  /*скрываем стандартную галочку*/
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
  /*активируем нарисованную галочку*/
}
.manufacturer .real-checkbox:checked + .custom-checkbox::before {
  -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1); /*позиционируем галочку*/
}
.manufacturer .real-checkbox:focus + .custom-checkbox {
  /*подсвечиваем галочку при выборе*/
  -webkit-box-shadow: 0px 0px 0px 1px #38577a, 0px 0px 10px #7e9bbd;
          box-shadow: 0px 0px 0px 1px #38577a, 0px 0px 10px #7e9bbd; /*тень*/
}
.manufacturer .custom-checkbox {
  display: inline-block;
  position: relative;
  width: 13px;
  height: 13px;
  border-radius: 2px;
  background-color: var(--color-white);
  border: 1px solid #bfbfbf;
  vertical-align: -2px;
  margin-right: 9px;
}
.manufacturer .custom-checkbox::before {
  /*рисуем галочку*/
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-image: url(img/check.svg); /*вставляем галочку*/
  background-size: contain; /*чтобы галочка поместилась и правильно отмаштабировалась*/
  background-repeat: no-repeat; /*чтобы галочка не повторялась*/
  /*Выравниваем галочку по центру*/
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
      -ms-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  margin-top: 1px;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.volume .form-group {
  margin-bottom: 13px;
}
.volume .form-group__title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.9px;
  margin-top: 56px;
  margin-bottom: 25px;
}
.volume .real-checkbox {
  /*скрываем стандартную галочку*/
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
  /*активируем нарисованную галочку*/
}
.volume .real-checkbox:checked + .custom-checkbox::before {
  -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1); /*позиционируем галочку*/
}
.volume .real-checkbox:focus + .custom-checkbox {
  /*подсвечиваем галочку при выборе*/
  -webkit-box-shadow: 0px 0px 0px 1px #38577a, 0px 0px 10px #7e9bbd;
          box-shadow: 0px 0px 0px 1px #38577a, 0px 0px 10px #7e9bbd; /*тень*/
}
.volume .custom-checkbox {
  display: inline-block;
  position: relative;
  width: 13px;
  height: 13px;
  border-radius: 2px;
  background-color: var(--color-white);
  border: 1px solid #bfbfbf;
  vertical-align: -2px;
  margin-right: 9px;
}
.volume .custom-checkbox::before {
  /*рисуем галочку*/
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-image: url(img/check.svg); /*вставляем галочку*/
  background-size: contain; /*чтобы галочка поместилась и правильно отмаштабировалась*/
  background-repeat: no-repeat; /*чтобы галочка не повторялась*/
  /*выравниваем галочку по центру*/
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
      -ms-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  margin-top: 1px;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.advertising-img {
  margin-top: 60px;
  min-width: 305px;
}

/*-----------------adaptive-----------------------*/
.catalog-right-adaptive__list {
  width: 100%;
  margin: 0;
  padding-bottom: 54px;
  border-bottom: 1px solid #e8e8e8;
}
.catalog-right-adaptive__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: 20px;
}
.catalog-right-adaptive__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.catalog-right-adaptive__title:before {
  position: absolute;
  content: "";
  width: calc(100% - 55px);
  height: 1px;
  background: #e8e8e8;
  bottom: 2px;
  left: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.catalog-right-adaptive__check {
  margin-left: auto;
  display: block;
  width: 20px;
  height: 20px;
  position: relative;
  cursor: pointer;
}
.catalog-right-adaptive__check::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 1px;
  background: #00243b;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%) rotate(45deg);
      -ms-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.catalog-right-adaptive__check::after {
  position: absolute;
  content: "";
  width: 12px;
  height: 1px;
  background: #00243b;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%) rotate(-45deg);
      -ms-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.category-adaptive {
  margin-top: 45px;
  margin-bottom: 35px;
}
.category-adaptive__subtitle {
  display: block;
  padding-right: 27px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
}

.manufacturer-adaptive {
  margin-bottom: 35px;
}
.manufacturer-adaptive__subtitle {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
}

.model-adaptive {
  margin-bottom: 35px;
}
.model-adaptive__subtitle {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
}

.volume-adaptive__subtitle {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
}

@media (max-width: 1250px) {
  .catalog-text h1 {
    margin-top: 9px;
  }
  .catalog-text__icon {
    display: none;
  }
  .list__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .list__left {
    width: 100%;
  }
  .list__right {
    display: none;
  }
  .list__right-adaptive {
    display: inline;
  }
  /*--------------Карточка товара------------------*/
  .card {
    margin-bottom: 20px;
  }
  .card-product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    border: 0;
    border-bottom: 1px solid #e8e8e8;
    border-radius: 0;
  }
  .card-product:hover {
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #00baec;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .card-product-text {
    padding-right: 20px;
  }
  .card-product-right {
    width: 200px;
  }
  .card-product-right__line {
    bottom: 80px;
    right: 15px;
  }
}
@media (max-width: 950px) {
  /*--------------Карточка товара------------------*/
  .card {
    min-height: 220px;
  }
  .card-product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card-product__img-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
  .card-product-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: relative;
    margin: 0 0 0 195px;
    min-height: 20px;
    width: 100%;
  }
  .card-product-right__doc {
    position: relative;
    padding-left: 0px;
    top: 0px;
    right: 0px;
  }
  .card-product-right__doc img {
    position: relative;
    top: 0px;
    left: 0;
  }
  .card-product-right__line {
    position: relative;
    right: 0;
    top: 25px;
    margin-left: 0px;
  }
  .default-btn__card {
    position: relative;
    bottom: 0;
    right: 0;
    margin-left: 50px;
  }
}
@media (max-width: 620px) {
  .list__left {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px 30px;
  }
  /*--------------Карточка товара------------------*/
  .card {
    display: inline;
    height: auto;
    margin-bottom: 20px;
    min-height: auto;
    margin: 0;
  }
  .card-product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    border: 1px solid #e8e8e8; /*толщина рамки*/
    border-radius: 4px;
    padding: 20px 20px 18px 20px;
  }
  .card-product__img {
    max-height: 300px;
    min-width: auto;
    width: 100%;
    overflow: hidden;
    margin: auto 22px auto 0;
  }
  .card-product__img img {
    width: 100%;
  }
  .card-product__img-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 30px;
  }
  .card-product-text {
    padding: 0px;
    margin: 30px 0;
  }
  .card-product-text__subtitle {
    margin: 0;
    overflow: hidden;
  }
  .card-product-text__title {
    display: none;
  }
  .card-product-guarantee-leasing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    margin: -20px 0 20px 0;
  }
  .card-product-right {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: static;
    margin: 20px 0;
    min-height: 20px;
    width: 100%;
  }
  .card-product-right__doc {
    position: absolute;
    padding-left: 0px;
    top: 10px;
    left: 10px;
  }
  .card-product-right__line {
    position: absolute;
    right: 10px;
    top: 10px;
    margin: 0px;
  }
  .default-btn__card {
    position: absolute;
    bottom: 20px;
    right: 20px;
    left: 20px;
    margin: 0px;
  }
}
@media (max-width: 500px) {
  .list__left {
    grid-gap: 15px;
  }
  .card-product {
    padding: 10px;
  }
  .card-product-guarantee-leasing__guarantee {
    font-size: 8px;
  }
  .card-product-guarantee-leasing__leasing {
    font-size: 8px;
    margin-left: 10px;
  }
  .card-product-text__subtitle {
    font-size: 12px;
    margin: 0;
    overflow: hidden;
  }
  .default-btn__card {
    right: 10px;
    left: 10px;
    padding: 10px;
  }
}
