.navigator {
    margin-top: 45px;
    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.navigator-left {
    &__list {
        display: flex;
        list-style: none;
        padding: 0;
    }
    &__item {
        margin-left: -3px;

        &:first-child {
            margin-left: 0;
        }
        a {
            font-size: 12px;
            &_4 {
                a {
                    color: #bfbfbf;
                }
            }
            &:hover {
                text-decoration: underline;
                transition: 0.3s;
            }
        }
        &_3 {
            a {
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}
.navigator-right {
    display: flex;
    font-weight: 500;
    transition: 0.3s;
    svg {
        margin: 1px 15px 0px 0px;
        path {
            transition: 0.3s;
        }
    }
    &:hover {
        color: var(--color-hover);

        svg {
            path {
                stroke: var(--color-hover);
            }
        }
    }
}
/*-----------------------------------*/
@media (max-width: 550px) {
    .navigator-left {
        a {
            font-size: 11px;
        }
    }
    .navigator-right {
        font-size: 11px;
        svg {
            width: 18px;
            height: 9px;
            margin: 3px 5px 0px 0px;
        }
    }
}
