.catalog {
    &__wrap {
        display: flex;
        flex-direction: column;
    }
}
.catalog-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 33px;
    width: calc(100% - 325px);

    h1 {
        font-size: 40px;
        font-weight: 500;
    }
    &__icon {
        display: flex;
        align-items: center;
        margin-top: 12px;
    }
}
.btn {
    transition: 0.3s;
    &__setka {
        &_adaptive {
            position: absolute;
            right: 30px;
        }
        svg {
            path {
                transition: 0.3s;
                fill: var(--color-gray);
            }
        }
        &.active,
        &:hover {
            color: var(--color-hover);

            svg {
                path {
                    fill: var(--color-hover);
                }
            }
        }
    }
    &__burger {
        margin-left: 14px;
        &_adaptive {
            position: absolute;
            right: 0;
        }
        svg {
            path {
                transition: 0.3s;
                fill: var(--color-gray);
            }
        }
        &.active,
        &:hover {
            color: var(--color-hover);

            svg {
                path {
                    fill: var(--color-hover);
                }
            }
        }
    }
}
.list {
    &__wrap {
        display: flex;
    }

    &__left {
        width: calc(100% - 325px);
        margin-top: 50px;

        &.grid {
            width: calc(100% - 325px);
            height: 305px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 20px 20px;
            margin-top: 35px;
        }
    }
    &__right {
        width: 305px;
        margin-left: 20px;
        margin-top: -35px;
    }
    &__right-adaptive {
        display: none;
    }
}
/*--------------Карточка товара------------------*/
.card {
    height: 170px;
    margin-bottom: 20px;
}
.card-product {
    display: flex;
    position: relative;
    border: 1px solid #e8e8e8; /*толщина рамки*/
    border-radius: 4px;
    padding: 20px 20px 18px 20px;

    &__img {
        max-height: 130px;
        width: 174px;
        min-width: 174px;
        overflow: hidden;
        margin: auto 22px auto 0;

        img {
            width: 100%;
        }
    }
    &:hover {
        border: 1px solid #00baec; /*толщина рамки*/
        transition: 0.3s;
    }
    &__img-text {
        display: flex;
    }
}
.card-product-text {
    margin-top: 9px;
    margin-bottom: 8px;
    height: 100%;
    padding-top: 13px;
    flex: 1 1 auto;

    &__subtitle {
        font-weight: 500;
        font-size: 15px;
        line-height: 19px;
        margin-top: 17px;
        color: #00243b;
        overflow: hidden;
        min-height: 38px;

        br {
            display: none;
        }

        &:hover {
            color: var(--color-hover);
            transition: 0.3s;
        }
    }
    &__title {
        margin-top: 27px;
        font-size: 12px;
        line-height: 17.5px;
    }
}
.card-product-guarantee-leasing {
    display: flex;
    margin: -13px 0 20px 0;

    &__guarantee {
        font-size: 10px;
        font-weight: 500;
        color: var(--color-text);
        border-bottom: 1px #00baec solid;
    }
    &__leasing {
        font-size: 10px;
        font-weight: 500;
        color: var(--color-text);
        margin-left: 14px;
        border-bottom: 1px #00baec solid;
    }
}
.card-product-right {
    margin-bottom: 10px;
    width: 300px;
    flex: 0 0 auto;

    &__doc {
        position: absolute;
        padding-left: 23px;
        top: 29px;
        right: 20px;
        font-weight: 500;
        font-size: 11px;
        line-height: 14px;
        color: #00243b;

        a {
            letter-spacing: 0.2px;
            font-size: 11px;

            &:hover {
                color: var(--color-hover);
                transition: 0.3s;
            }
        }
        img {
            position: absolute;
            width: 16px;
            height: 17px;
            top: -2px;
            left: 0;
        }
    }
    &__line {
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
        width: 15px;
        height: 14px;
        bottom: 32px;
        right: 194px;
        margin-left: 29px;
        margin-right: 8px;
        cursor: pointer;

        svg {
            path {
                transition: 0.3s;
            }
        }
        &:hover {
            color: var(--color-hover);

            svg {
                path {
                    fill: var(--color-hover);
                }
            }
        }
    }
    &__btn-line {
        display: flex;
        margin-top: 80px;
    }
}
.default-btn {
    &__card {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 20px;
        right: 20px;
        margin-left: 22px;
        transition: 0.3s ease;

        &:hover {
            color: var(--color-white);
            transition: 0.3s;
        }
    }
}

/*--------------Карточка товара grid------------------*/
.grid {
    .card {
        height: 370px;
        width: 305px;
        padding: 0;
        margin-bottom: 0;
    }
    .card-product {
        height: 330px;
        display: flex;
        flex-direction: column;
        position: relative;
        border: 1px solid #e8e8e8; /*толщина рамки*/
        border-radius: 4px;
        padding: 19px;

        &__img {
            min-height: 130px;
            width: 174px;
            min-width: 174px;
            overflow: hidden;
            margin: 30px 0px 0px 45px;

            img {
                width: 100%;
            }
        }
        &:hover {
            border: 1px solid #00baec; /*толщина рамки*/
            transition: 0.3s;
        }
        &__img-text {
            display: flex;
            flex-direction: column;
        }
    }
    .card-product-text {
        margin: 0;
        margin-top: 26px;
        height: 100%;
        padding: 0;
        flex: 1 1 auto;

        &__subtitle {
            font-weight: 500;
            font-size: 15px;
            line-height: 19px;
            margin: 0;
            color: #00243b;
            overflow: hidden;
            min-height: 38px;

            br {
                display: inline;
            }

            &:hover {
                color: var(--color-hover);
                transition: 0.3s;
            }
        }
        &__title {
            display: -webkit-box; /*прописываем чтобы показывалось только несколько строк, остальное скрывается и ставится многоточие*/
            line-clamp: 2; /*количество показываемых строк*/
            box-orient: vertical; /*строки по вертикали*/
            overflow: hidden; /*все лишнее, выходящее за пределы - обрезать*/
            margin-top: 14px;
            font-size: 12px;
            line-height: 18px;
        }
    }
    .card-product-guarantee-leasing {
        display: none;
    }
    .card-product-right {
        margin: 0;
        width: 300px;
        flex: 0 0 auto;

        &__doc {
            position: absolute;
            padding: 0;
            top: 20px;
            left: 20px;
            font-weight: 500;
            font-size: 11px;
            line-height: 14px;
            color: #00243b;

            a {
                letter-spacing: 0.2px;
                font-size: 11px;
                position: absolute;
                left: 22px;
                top: 3px;

                &:hover {
                    color: var(--color-hover);
                    transition: 0.3s;
                }
            }
            img {
                position: absolute;
                width: 16px;
                height: 17px;
                top: 0;
                left: 0;
            }
        }
        &__line {
            display: flex;
            position: absolute;
            align-items: center;
            width: 15px;
            height: 14px;
            top: 22px;
            right: 20px;
            margin: 0;
            cursor: pointer;

            svg {
                path {
                    transition: 0.3s;
                }
            }
            &:hover {
                color: var(--color-hover);

                svg {
                    path {
                        fill: var(--color-hover);
                    }
                }
            }
        }
        &__btn-line {
            display: flex;
            margin-top: 80px;
        }
    }
    .default-btn {
        &__card {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            bottom: 19px;
            right: 19px;
            left: -3px;
            transition: 0.3s ease;

            &:hover {
                color: var(--color-white);
                transition: 0.3s;
            }
        }
    }
}
/*-------------------------------------*/
.category {
    &__subtitle {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.9px;
    }
    &__title {
        display: flex;
        flex-direction: column;
        margin-top: 24px;
        line-height: 17.1px;

        a {
            margin-bottom: 17px;
        }
    }
    &__text {
        transition: 0.3s;

        &:hover {
            color: var(--color-hover);

            span {
                color: var(--color-hover);
            }
        }
        span {
            margin-left: 6px;
            color: #bfbfbf;
            transition: 0.3s;
        }
    }
}
.manufacturer {
    .form-group {
        margin-bottom: 13px;

        &__title {
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 0.9px;
            margin-top: 37px;
            margin-bottom: 25px;
        }
    }
    .real-checkbox {
        /*скрываем стандартную галочку*/
        width: 0;
        height: 0;
        opacity: 0;
        position: absolute;
        z-index: -1;

        /*активируем нарисованную галочку*/
        &:checked + .custom-checkbox::before {
            transform: translate(-50%, -50%) scale(1); /*позиционируем галочку*/
        }
        &:focus + .custom-checkbox {
            /*подсвечиваем галочку при выборе*/
            box-shadow: 0px 0px 0px 1px #38577a, /*рамка*/ 0px 0px 10px #7e9bbd; /*тень*/
        }
    }
    .custom-checkbox {
        display: inline-block;
        position: relative;
        width: 13px;
        height: 13px;
        border-radius: 2px;
        background-color: var(--color-white);
        border: 1px solid #bfbfbf;
        vertical-align: -2px;
        margin-right: 9px;

        &::before {
            /*рисуем галочку*/
            content: "";
            display: inline-block;
            width: 10px;
            height: 10px;
            background-image: url(./../img/check.svg); /*вставляем галочку*/
            background-size: contain; /*чтобы галочка поместилась и правильно отмаштабировалась*/
            background-repeat: no-repeat; /*чтобы галочка не повторялась*/
            /*Выравниваем галочку по центру*/
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) scale(0);
            margin-top: 1px;
            transition: 0.2s ease-in;
        }
    }
}
.volume {
    .form-group {
        margin-bottom: 13px;

        &__title {
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 0.9px;
            margin-top: 56px;
            margin-bottom: 25px;
        }
    }
    .real-checkbox {
        /*скрываем стандартную галочку*/
        width: 0;
        height: 0;
        opacity: 0;
        position: absolute;
        z-index: -1;

        /*активируем нарисованную галочку*/
        &:checked + .custom-checkbox::before {
            transform: translate(-50%, -50%) scale(1); /*позиционируем галочку*/
        }
        &:focus + .custom-checkbox {
            /*подсвечиваем галочку при выборе*/
            box-shadow: 0px 0px 0px 1px #38577a, /*рамка*/ 0px 0px 10px #7e9bbd; /*тень*/
        }
    }
    .custom-checkbox {
        display: inline-block;
        position: relative;
        width: 13px;
        height: 13px;
        border-radius: 2px;
        background-color: var(--color-white);
        border: 1px solid #bfbfbf;
        vertical-align: -2px;
        margin-right: 9px;

        &::before {
            /*рисуем галочку*/
            content: "";
            display: inline-block;
            width: 10px;
            height: 10px;
            background-image: url(./../img/check.svg); /*вставляем галочку*/
            background-size: contain; /*чтобы галочка поместилась и правильно отмаштабировалась*/
            background-repeat: no-repeat; /*чтобы галочка не повторялась*/

            /*выравниваем галочку по центру*/
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) scale(0);
            margin-top: 1px;
            transition: 0.2s ease-in;
        }
    }
}
.advertising-img {
    margin-top: 60px;
    min-width: 305px;
}
/*-----------------adaptive-----------------------*/
.catalog-right-adaptive {
    &__list {
        width: 100%;
        margin: 0;
        padding-bottom: 54px;
        border-bottom: 1px solid #e8e8e8;
    }
    &__icon {
        display: flex;
        position: relative;
        margin-top: 20px;
    }
    &__title {
        display: flex;
        position: relative;

        &:before {
            position: absolute;
            content: "";
            width: calc(100% - 55px);
            height: 1px;
            background: #e8e8e8;
            bottom: 2px;
            left: 0;
            transition: 0.3s;
        }
    }
    &__check {
        margin-left: auto;
        display: block;
        width: 20px;
        height: 20px;
        position: relative;
        cursor: pointer;

        &::before {
            position: absolute;
            content: "";
            width: 12px;
            height: 1px;
            background: #00243b;
            top: 50%;
            left: 0;
            transform: translateY(-50%) rotate(45deg);
            transition: 0.3s;
        }
        &::after {
            position: absolute;
            content: "";
            width: 12px;
            height: 1px;
            background: #00243b;
            top: 50%;
            right: 0;
            transform: translateY(-50%) rotate(-45deg);
            transition: 0.3s;
        }
    }
}
.category-adaptive {
    margin-top: 45px;
    margin-bottom: 35px;

    &__subtitle {
        display: block;
        padding-right: 27px;
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        cursor: pointer;
    }
}
.manufacturer-adaptive {
    margin-bottom: 35px;

    &__subtitle {
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        cursor: pointer;
    }
}
.model-adaptive {
    margin-bottom: 35px;

    &__subtitle {
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        cursor: pointer;
    }
}
.volume-adaptive {
    &__subtitle {
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        cursor: pointer;
    }
}
@media (max-width: 1250px) {
    .catalog-text {
        h1 {
            margin-top: 9px;
        }
        &__icon {
            display: none;
        }
    }
    .list {
        &__wrap {
            display: flex;
            flex-direction: column;
        }
        &__left {
            width: 100%;
        }
        &__right {
            display: none;
        }
        &__right-adaptive {
            display: inline;
        }
    }
    /*--------------Карточка товара------------------*/
    .card {
        margin-bottom: 20px;
    }
    .card-product {
        display: flex;
        position: relative;
        border: 0;
        border-bottom: 1px solid #e8e8e8;
        border-radius: 0;

        &:hover {
            border: 0;
            border-radius: 0;
            border-bottom: 1px solid #00baec;
            transition: 0.3s;
        }
    }
    .card-product-text {
        padding-right: 20px;
    }
    .card-product-right {
        width: 200px;

        &__line {
            bottom: 80px;
            right: 15px;
        }
    }
}
@media (max-width: 950px) {
    /*--------------Карточка товара------------------*/
    .card {
        min-height: 220px;
    }
    .card-product {
        display: flex;
        flex-direction: column;

        &__img-text {
            display: flex;
            position: relative;
        }
    }
    .card-product-right {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        margin: 0 0 0 195px;
        min-height: 20px;
        width: 100%;

        &__doc {
            position: relative;
            padding-left: 0px;
            top: 0px;
            right: 0px;

            img {
                position: relative;
                top: 0px;
                left: 0;
            }
        }
        &__line {
            position: relative;
            right: 0;
            top: 25px;
            margin-left: 0px;
        }
    }
    .default-btn {
        &__card {
            position: relative;
            bottom: 0;
            right: 0;
            margin-left: 50px;
        }
    }
}
@media (max-width: 620px) {
    .list {
        &__left {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 30px 30px;
        }
    }
    /*--------------Карточка товара------------------*/
    .card {
        display: inline;
        height: auto;
        margin-bottom: 20px;
        min-height: auto;
        margin: 0;
    }
    .card-product {
        display: flex;
        flex-direction: column;
        position: relative;
        border: 1px solid #e8e8e8; /*толщина рамки*/
        border-radius: 4px;
        padding: 20px 20px 18px 20px;

        &__img {
            max-height: 300px;
            min-width: auto;
            width: 100%;s
            overflow: hidden;
            margin: auto 22px auto 0;

            img {
                width: 100%;
            }
        }
        &__img-text {
            display: flex;
            flex-direction: column;
            top: 30px;
        }
    }
    .card-product-text {
        padding: 0px;
        margin: 30px 0;

        &__subtitle {
            margin: 0;
            overflow: hidden;
        }
        &__title {
            display: none;
        }
    }
    .card-product-guarantee-leasing {
        display: flex;
        position: absolute;
        margin: -20px 0 20px 0;
    }
    .card-product-right {
        display: block;
        flex-direction: column;
        align-items: flex-start;
        position: static;
        margin: 20px 0;
        min-height: 20px;
        width: 100%;

        &__doc {
            position: absolute;
            padding-left: 0px;
            top: 10px;
            left: 10px;
        }
        &__line {
            position: absolute;
            right: 10px;
            top: 10px;
            margin: 0px;
        }
    }
    .default-btn {
        &__card {
            position: absolute;
            bottom: 20px;
            right: 20px;
            left: 20px;
            margin: 0px;
        }
    }
}
@media (max-width: 500px) {
    //вот тут
    .list {
        &__left {
            grid-gap: 15px;
        }
    }
    .card-product {
        padding: 10px;
    }
    .card-product-guarantee-leasing {
        &__guarantee {
            font-size: 8px;
        }
        &__leasing {
            font-size: 8px;
            margin-left: 10px;
        }
    }
    .card-product-text {
        &__subtitle {
            font-size: 12px;
            margin: 0;
            overflow: hidden;
        }
    }
    .default-btn {
        &__card {
            right: 10px;
            left: 10px;
            padding: 10px;
        }
    }
}
